/*
  1. Base
*/

div#pre-load-img-container {
    display: none;
}

/*
    2. Components
  */
div.top-container {
    margin-bottom: 4.1vw;
    position: relative;
}

div.top-container div.amplitude-visualization {
    width: 20vw;
    height: 20vw;
    box-shadow: 0 .3vw 3vw 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    background-color: black;
}

div.top-container img.now-playing-album-art {
    width: 20vw;
    margin: auto;
    box-shadow: 0 .3vw 3vw 0 rgba(0, 0, 0, 0.5);
    display: none;
}

div.top-container div.visualization-toggle {
    width: 2.1vw;
    height: 2.1vw;
    top: 0;
    right: 1vw;
    cursor: pointer;
    position: absolute;
}

div.top-container div.visualization-toggle.visualization-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/visualization-on.svg") no-repeat center;
}

div.top-container div.visualization-toggle.visualization-off {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/visualization-off.svg") no-repeat center;
}

div.top-container div.amplitude-shuffle {
    width: 2.2vw;
    height: 1.3vw;
    cursor: pointer;
    top: 1.5vw;
    right: 1vw;
    position: absolute;
}

div.top-container div.amplitude-shuffle.amplitude-shuffle-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-on.svg") no-repeat center;
}

div.top-container div.amplitude-shuffle.amplitude-shuffle-off {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-off.svg") no-repeat center;
}

div.top-container div.amplitude-repeat {
    width: 2.5vw;
    height: 1.5vw;
    cursor: pointer;
    top: 8.1vw;
    right: .9vw;
    position: absolute;
}

div.top-container div.amplitude-repeat.amplitude-repeat-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-on.svg") no-repeat center;
}

div.top-container div.amplitude-repeat.amplitude-repeat-off {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-off.svg") no-repeat center;
}

/*
    Small only
  */
/*
    Medium only
  */
/*
    Large Only
  */
div.control-container {
    margin-top: 2.5vw;
    display: flex;
}

div.control-container div.amplitude-prev {
    width: 1.6vw;
    height: 1.6vw;
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/prev.svg")no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin: auto;
    margin-top: .9vw;
    max-width: 45px;
    max-height: 45px;
}

div.control-container div.amplitude-play-pause {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    margin: auto;
    max-width: 80px;
    max-height: 80px;
}

div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/pause.svg") no-repeat center;
    background-size: contain;
}

div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/play.svg") no-repeat center;
    background-size: contain;
}

div.control-container div.amplitude-next {
    width: 1.6vw;
    height: 1.6vw;
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/next.svg")no-repeat center;
    background-size: contain;
    cursor: pointer;
    margin: auto;
    margin-top: .9vw;
    max-width: 45px;
    max-height: 45px;
}

/*
    Small only
  */
/*
    Medium only
  */
/*
    Large Only
  */
/* div.meta-data-container {
    margin-top: 3.9vw;
} */

div.meta-data-container span.now-playing-name {
    display: block;
    text-align: center;
    /* margin-bottom: 1.3vw; */
    font-size: 2.1vw;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.meta-data-container span.now-playing-artist-album {
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.7);
}

/*
    Small only
  */
/*
    Medium only
  */
/*
    Large Only
  */
div.amplitude-wave-form {
    margin-top: 2vw;
    margin-bottom: 1.4vw;
}

div.amplitude-wave-form svg {
    stroke: #fff;
    height: 5.5vw;
    width: 100%;
    stroke-width: 0.034vw;
}

/* div.amplitude-wave-form svg g {
    stroke: url(#gradient);
    height: 6vw;
    width: 100%;
}

div.amplitude-wave-form svg g path {
    stroke: url(#gradient);
    height: 6vw;
    width: 100%;
} */

span.amplitude-current-time {
    display: block;
    text-align: left;
    color: white;
    font-size: 1.2vw;
}

span.amplitude-time-remaining {
    display: block;
    text-align: right;
    color: white;
    font-size: 1.2vw;
}

div.song-navigation {
    margin-top: 5vw;
    margin-bottom: 2.6vw;
}

div.song-navigation input[type="range"] {
    width: 90%;
    -webkit-appearance: none;
    appearance: none;
    z-index: 9999;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.song-navigation input[type="range"]:focus {
    outline: none;
}

div.song-navigation input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: .5vw;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
}

div.song-navigation input[type="range"]::-webkit-slider-thumb {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #69bddc;
    border: .4vw solid #fff;
    border-radius: 2vw;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1vw;
}

div.song-navigation input[type="range"]::-moz-range-track {
    width: 100%;
    height: .5vw;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
}

div.song-navigation input[type="range"]::-moz-range-thumb {
    width: 2.8vw;
    height: 2.8vw;
    background-color: white;
    border-radius: 2vw;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1vw;
}

div.song-navigation input[type="range"]::-ms-track {
    width: 100%;
    height: .4vw;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
}

div.song-navigation input[type="range"]::-ms-fill-lower {
    background: transparent;
}

div.song-navigation input[type="range"]::-ms-fill-upper {
    background: transparent;
}

div.song-navigation input[type="range"]::-ms-thumb {
    width: 2.8vw;
    height: 2.8vw;
    background-color: red;
    border-radius: 2vw;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1vw;
}

div.arrow-up img.arrow-up-icon {
    cursor: pointer;
    margin: auto;
    display: block;
}

input[type="range"]#global-large-song-slider {
    width: 100%;
    margin-top: -7.5vw;
    -webkit-appearance: none;
    appearance: none;
    z-index: 9999;
    background-color: rgb(255, 255, 255, .1);
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input[type="range"]#global-large-song-slider:focus {
    outline: none;
}

input[type="range"]#global-large-song-slider::-webkit-slider-runnable-track {
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
    height: 5.5vw;
    background-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

input[type="range"]#global-large-song-slider::-webkit-slider-thumb {
    width: .5vw;
    height: 5.5vw;
    background-color: #fff;
    border-radius: 2vw;
    -webkit-appearance: none;
}

input[type="range"]#global-large-song-slider::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    border-radius: 0px;
    height: 5.5vw;
    background-color: rgba(0, 0, 0, 0);
}

input[type="range"]#global-large-song-slider::-moz-range-thumb {
    width: .5vw;
    height: 5.5vw;
    background-color: white;
    border-radius: 2vw;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -3.1vw;
}

input[type="range"]#global-large-song-slider::-ms-track {
    width: 100%;
    height: .3vw;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.25);
}

input[type="range"]#global-large-song-slider::-ms-fill-lower {
    background: transparent;
}

input[type="range"]#global-large-song-slider::-ms-fill-upper {
    background: transparent;
}

input[type="range"]#global-large-song-slider::-ms-thumb {
    width: 2.5vw;
    height: 2.5vw;
    background-color: white;
    border-radius: 2vw;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -1vw;
}

/*
    3. Layout
  */
div#visualizations-player {
    width: calc(100% - 1vw);
    padding: .5vw;
    background-color: rgb(255, 255, 255, .05);
    border-radius: 1vw;
    margin: auto;
    /* margin-top: 50px; */
    position: relative;
    backdrop-filter: blur(1px);
    min-height: 26.5vw;
}

/*
    Small only
  */
/*
    Medium only
  */
/*
    Large Only
  */
div#visualizations-player-playlist {
    background-color: #482D57;
    border-radius: 2vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2.4vw;
    padding-top: 2.4vw;
    z-index: 9999;
    display: none;
}

div#visualizations-player-playlist div.top-arrow {
    text-align: center;
}

div#visualizations-player-playlist div.top-arrow img {
    cursor: pointer;
}

div#visualizations-player-playlist div.top {
    border-bottom: .1vw solid rgba(255, 255, 255, 0.2);
}

div#visualizations-player-playlist div.top span.playlist-title {
    color: white;
    font-size: 3.1vw;
    font-weight: 700;
}

div#visualizations-player-playlist div.top div.amplitude-shuffle {
    width: 2vw;
    height: 1.2vw;
    cursor: pointer;
    float: right;
    margin-top: 2vw;
}

div#visualizations-player-playlist div.top div.amplitude-shuffle.amplitude-shuffle-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-on.svg") no-repeat center;
}

div#visualizations-player-playlist div.top div.amplitude-shuffle.amplitude-shuffle-off {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/shuffle-off.svg") no-repeat center;
}

div#visualizations-player-playlist div.top div.amplitude-repeat {
    width: 2.4vw;
    height: 1.5vw;
    cursor: pointer;
    float: right;
    margin-left: 2.4vw;
    margin-top: 2vw;
}

div#visualizations-player-playlist div.top div.amplitude-repeat.amplitude-repeat-on {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-on.svg") no-repeat center;
}

div#visualizations-player-playlist div.top div.amplitude-repeat.amplitude-repeat-off {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/repeat-off.svg") no-repeat center;
}

div#visualizations-player-playlist div.songs-container {
    padding-top: 3.3vw;
    height: 40vw;
    padding-bottom: 8.8vw;
    overflow-y: scroll;
}

div#visualizations-player-playlist div.songs-container div.song {
    margin-bottom: 2vw;
    cursor: pointer;
    padding: .3vw;
    border-radius: .15vw;
}

div#visualizations-player-playlist div.songs-container div.song.amplitude-active-song-container {
    background-color: #03C1EB;
}

div#visualizations-player-playlist div.songs-container div.song:hover {
    background-color: #4CF298;
}

div#visualizations-player-playlist div.songs-container div.song span.song-position {
    color: white;
    font-size: 1.6vw;
    float: left;
}

div#visualizations-player-playlist div.songs-container div.song img.song-album-art {
    width: 4.2vw;
    height: 4.2vw;
    border-radius: .2vw;
    box-shadow: 0 .1vw .5vw 0 rgba(0, 0, 0, 0.5);
    float: left;
    margin-left: 1.1vw;
    margin-right: 1.4vw;
}

div#visualizations-player-playlist div.songs-container div.song div.song-meta-data-container {
    float: left;
    width: calc(100% - 10.3vw);
}

div#visualizations-player-playlist div.songs-container div.song div.song-meta-data-container span.song-name {
    font-size: 1.6vw;
    display: block;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#visualizations-player-playlist div.songs-container div.song div.song-meta-data-container span.song-artist {
    font-size: 1.1vw;
    display: block;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#visualizations-player-playlist div.songs-container div.song:after {
    content: "";
    display: table;
    clear: both;
}

div#visualizations-player-playlist div.active-audio {
    background-color: rgba(3, 193, 235, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.9vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2.4vw;
    padding-right: 2.4vw;
    display: flex;
}

div#visualizations-player-playlist div.active-audio img.cover-art-small {
    width: 6vw;
    height: 6vw;
    border-radius: .2vw;
    float: left;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right {
    float: left;
    width: calc(100% - 6vw);
    padding-left: .9vw;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right span.song-name {
    font-size: 1.4vw;
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right div.active-audio-controls {
    text-align: center;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right div.active-audio-controls div.amplitude-prev {
    width: 1.6vw;
    height: 2.4vw;
    display: inline-block;
    background-size: contain;
    background: url(https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/prev.svg) no-repeat center;
    margin-right: 2vw;
    vertical-align: middle;
    cursor: pointer;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right div.active-audio-controls div.amplitude-play-pause {
    display: inline-block;
    width: 2.2vw;
    height: 2.4vw;
    cursor: pointer;
    margin: auto;
    vertical-align: middle;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right div.active-audio-controls div.amplitude-play-pause.amplitude-paused {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/small-play.svg") no-repeat center;
    background-size: contain;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right div.active-audio-controls div.amplitude-play-pause.amplitude-playing {
    background: url("https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/small-pause.svg") no-repeat center;
    background-size: contain;
}

div#visualizations-player-playlist div.active-audio div.active-audio-right div.active-audio-controls div.amplitude-next {
    width: 1.6vw;
    height: 2.4vw;
    display: inline-block;
    background-size: contain;
    background: url(https://521dimensions.com/img/open-source/amplitudejs/examples/visualizations/next.svg) no-repeat center;
    margin-left: 2vw;
    vertical-align: middle;
    cursor: pointer;
}


@media only screen and (max-width:768px) {
    div.amplitude-wave-form svg {
        /* height: 4.5vw; */
        stroke-width: .05vw;
    }
}


/*
    Small only
  */
/*
    Medium only
  */
/*
    Large Only
  */
/*
    4. Pages
  */
/*
    5. Themes
  */
/*
    6. Utils
  */
/*
    7. Vendors
  */

/*# sourceMappingURL=app.css.map */